body {
	margin-top: 1.0em;
	background-color: #fff;
	font-family: Helvetica,Arial,FreeSans; 
	color: #000000;
}
#container {
	margin: 0 auto;
	width: 700px;
}

h1 { 
	font-size: 2.8em; 
	color: #d3460d; 
	margin-bottom: 3px; 
}

h2 { 
	font-size: 1.5em; 
	color: #d3460d; 
}

h3 { 
	color: #d3460d; 
}

a { 
	color: #d3460d; 
}

.description { 
	font-size: 1.2em; 
	margin-bottom: 30px; 
	margin-top: 30px; 
	font-style: italic;
}
.download { 
	float: right; 
}

pre { 
	background: #000; 
	color: #fff; 
	padding: 15px;
}

hr { 
	border: 0; 
	width: 80%; 
	border-bottom: 1px solid #aaa;
}

.footer { 
	text-align:center; 
	padding-top:30px; 
	font-style: italic; 
}