body {
    font-family: Verdana;
}
h1 {
    font-size: 20px;
    color: #4488ff;
}
h2 {
    font-size: 16px;
    color: #66aaff;
}

#header
{
	padding-bottom: 1em;
	font-size: 0.85em;
}


#footer
{
	padding-top: 3em;
	font-size: 0.85em;
}

.label
{
	font-weight: bold;
	color: #4488ff;
}

.ads 
{
	margin: 10px;
	padding: 5px;
	font-size: 11px;
	background-color: #eee;
}

.ads h5 
{
	margin-top: 0px;
}
