<div id="footer">
    <span class="label">Footer:</span> Brought to you by <a href="http://www.codeplex.com/MVCContrib" target="_blank">NVelocity View Factory at MVC Contrib</a>. Visit <a href="http://www.castleproject.org/others/nvelocity/index.html" target="_blank">NVelocity at CastleProject</a> or the Velocity Template Language docs at <a href="http://velocity.apache.org/engine/releases/velocity-1.5/user-guide.html" target="_blank">Apache Velocity</a>
</div>
