<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<section name="nhamlViewEngine"
			type="MvcContrib.NHamlViewEngine.Configuration.NHamlViewEngineSection, MvcContrib.NHamlViewEngine" />
		<section name="brail" type="MvcContrib.BrailViewEngine.BrailConfigurationSection, MvcContrib.BrailViewEngine" />
	</configSections>
	
	<nhamlViewEngine production="false">
		<views>
			<assemblies>
				<clear />
				<add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
			</assemblies>
			<namespaces>
				<clear />
				<add namespace="System.Collections" />
			</namespaces>
		</views>
	</nhamlViewEngine>

	<brail
		debug="true"
		saveToDisk="false"
		batch="false"
		commonScriptsDirectory="CommonScripts"
		saveDirectory="CompiledViews"
	>
		<reference assembly="System.Web.Mvc" />
		<reference assembly="System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
		<reference assembly="System.Web.Abstractions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		<import namespace="Boo.Lang.Builtins" />
		<import namespace="System" />
	</brail>

	<system.web>
		<httpHandlers>
			<add path="WebResource.axd" verb="GET" type="System.Web.Handlers.AssemblyResourceLoader" validate="True" />
		</httpHandlers>
	</system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc"
            publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.41001.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
