<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<section name="nhamlViewEngine"
			type="MvcContrib.NHamlViewEngine.Configuration.NHamlViewEngineSection, MvcContrib.NHamlViewEngine" />
		<section name="brail" type="MvcContrib.BrailViewEngine.BrailConfigurationSection, MvcContrib.BrailViewEngine" />
		
		<section name="defaultsAreCorrect" type="MvcContrib.IncludeHandling.Configuration.IncludeHandlingSectionHandler, MvcContrib.IncludeHandling"/>
		<section name="canSetAllowDebug" type="MvcContrib.IncludeHandling.Configuration.IncludeHandlingSectionHandler, MvcContrib.IncludeHandling"/>
		<section name="canChangeDefaults" type="MvcContrib.IncludeHandling.Configuration.IncludeHandlingSectionHandler, MvcContrib.IncludeHandling"/>
		<section name="pathValidation1" type="MvcContrib.IncludeHandling.Configuration.IncludeHandlingSectionHandler, MvcContrib.IncludeHandling"/>
		<section name="pathValidation2" type="MvcContrib.IncludeHandling.Configuration.IncludeHandlingSectionHandler, MvcContrib.IncludeHandling"/>
	</configSections>
	
	<nhamlViewEngine production="false">
		<views>
			<assemblies>
				<clear />
				<add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
			</assemblies>
			<namespaces>
				<clear />
				<add namespace="System.Collections" />
			</namespaces>
		</views>
	</nhamlViewEngine>

	<brail
		debug="true"
		saveToDisk="false"
		batch="false"
		commonScriptsDirectory="CommonScripts"
		saveDirectory="CompiledViews"
	>
		<reference assembly="System.Web.Mvc" />
		<reference assembly="System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
		<reference assembly="System.Web.Abstractions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		<import namespace="Boo.Lang.Builtins" />
		<import namespace="System" />
	</brail>

	<defaultsAreCorrect />
	<canChangeDefaults>
		<css path="~/foo/{0}/{1}" cacheFor="10:10:10.000" compressionOrder="gzip" lineBreakAt="180" minify="false">
			<options compressionType="Hybrid" />
		</css>
		<js path="~/bar/{0}/{1}" cacheFor="11.11:11:11.100" compressionOrder="deflate,gzip" lineBreakAt="-1" minify="false">
			<options disableOptimizations="true" obfuscate="false" preserveSemiColons="false" verbose="true" />
		</js>
	</canChangeDefaults>
	<pathValidation1>
		<css path="~/nope/{0}/" />
	</pathValidation1>
	<pathValidation2>
		<css path="~/nope/{1}/" />
	</pathValidation2>

	<system.web>
		<httpHandlers>
			<add path="WebResource.axd" verb="GET" type="System.Web.Handlers.AssemblyResourceLoader" validate="True" />
		</httpHandlers>
	</system.web>
</configuration>
